.container {
    margin: auto;
    max-width: 1200px;
    min-width: 600px;
}
header {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    padding-left: 0;
    flex-direction: row;
}
nav ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-left: 1px solid #f2a903;
    border-bottom: 1px solid #f2a903;
    height: 200px;
    
}
nav li a:hover{
    color: #f2a903;
    text-decoration: underline;
}
nav li:first-child{
    border-left: none;
}